@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

html,body {
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font: 500 1rem var(--font);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  position: fixed;
  left: 0;
  top: 0;
}

:root {
  --font: ui-rounded, -apple-system, BlinkMacSystemFont, 'Inter Tight', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box;
}